<!-- The form that is used to make a booking -->
<%= form_with(model: booking, local: true, id: "booking_form") do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!-- The field for typing in the description of the booking -->
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :booking_description %>
  </div>
<!-- The field for selecting the start date of the booking -->
  <div class="field">
    <%= form.label :date_in %>
    <%= form.datetime_select :date_in, id: :booking_date_in, minute_step: 30, start_hour: 9, end_hour: 17 %>
  </div>
<!-- The field for selecting the end date of the booking -->
  <div class="field">
    <%= form.label :date_out %>
    <%= form.datetime_select :date_out, id: :booking_date_out, minute_step: 30, start_hour: 9, end_hour: 17 %>
  </div>
<!-- The field for selecting the room -->
  <div class="field">
    <%= form.label :room %>
    <%= collection_select(:booking, :room_id, @rooms, :id, :name) %>
  </div>


<!--Button that is pressed to submit the form  -->
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
