<p id="notice"><%= notice %></p>

<p class="nameOfRoomInShow">
  <strong>Room name:</strong>
  <%= @room.name %>
</p>

<h3>Booking</h3>

<table>
   <thead>
     <tr>
       <th>Description</th>
       <th>Date in</th>
       <th>Date out</th>

     </tr>
   </thead>

   <!-- loops through to show booking information for the room -->
   <tbody>
     <% @room.bookings.each do |booking|  %>
       <tr>
         <td><%= booking.description  %></td>
         <td><%= booking.date_in  %></td>
         <td><%= booking.date_out  %></td>
       </tr>
       <% end %>
   </tbody>
</table>


<!-- new booking form -->
<%= render '/bookings/form', booking: @booking %>

<br>

<%= link_to 'New Room', new_room_path, :class => "btn btn-info", :role => "button" %>
