<p id="notice"><%= notice %></p>

<!-- Allows you to cycle through daily bookings -->
<%= link_to "Previous day", start_date: @date_range.first - 1.day %>
<%= link_to "Next Day", start_date:@date_range.last + 1.day %>

<!-- makes table to show day view -->
<table>
  <thead>
    <tr>
      <!-- Abbreviates the names of the week -->
      <% @date_range.slice(0,7).each do |day| %>
      <th><%= I18n.t("date.abbr_day_names")[day.wday] %></th>
      <th><% @date_range.each_slice(7) do |week|  %>
          <% week.each do |day| %>
            <%= day %>
          <% end %>
        <% end %>
      </th>
      <% end %>
    </tr>
  </thead>

<!-- Shows the current day of the week plus month at the top of the page -->
  <tbody>
  <% @date_range.each_slice(7) do |week| %>
    <tr>
      <% week.each do |day| %>
    <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<h1 id="roomsIndexHeader">Rooms</h1>

<!-- Creates the table and places bookings into the correct time and room -->
<table id = "bookingTable">
  <thead>
    <tr>
      <th>Time</th>
      <!-- Creates the columns for each room -->
      <% @rooms.each do |room| %>
          <th class="<%= room.name %>"><%= link_to room.name, room %></th>
      <% end %>
    </tr>
      <% roomName = '' %>
      <% inbetween =  false %>
      <% booked = false %>
      <!-- if the time is on the hour -->
      <% i = 9.00 %>
      <% 17.times do |x| %>
        <tr>
          <% if i.to_f % 1 ==0%>
            <!-- Places the times on the left most column -->
            <td class="timeCell"><%= number_with_precision i, :precision => 2 %></td>
            <% @rooms.each do |room| %>
            <!-- Goes into my @date_range array  -->
              <% @date_range.each_slice(1) do |week| %>
                <% week.each do |day| %>
                <!-- Selects bookings that have the same date as the date selected above the table -->
                  <% @bookings.select {|b| b.date_in.to_date == day}.each do |meeting| %>
                  <!-- places the booking in time into the right room and time slot -->
                      <%if meeting.date_in.strftime("%H.%M").to_f == i && meeting.room.name == room.name%>
                        <td class="booking" id="done"><%= link_to meeting.description, meeting %></td>
                        <% booked = true %>
                        <!-- while a booking hasn't finished inbetween is true -->
                        <% inbetween = true %>
                        <% roomName = room.name %>
                      <% end  %>
                      <% if i > meeting.date_in.strftime("%H.%M").to_f && i < meeting.date_out.strftime("%H.%M").to_f && meeting.room.name == room.name %>
                        <% booked = true %>
                        <td id="done"></td>
                      <% end %>
                  <% end  %>
                <% end %>
              <% end %>
              <!-- Adds an empty cell if there is no booking -->
              <% if booked == false %>
                  <td></td>
                <% else %>
                  <% booked = false %>
                <% end %>
              <% end %>
            <!-- increments the time by half an hour for the next iteration of the loop -->
            <% i += 0.30 %>
          <% else %>
          <td class="timeCell"> <%=  number_with_precision i, :precision => 2  %></td>
          <% @rooms.each do |room| %>
            <% @date_range.each_slice(1) do |week| %>
              <% week.each do |day| %>
              <!-- Selects bookings that have the same date as the date selected above the table -->
                <% @bookings.select {|b| b.date_in.to_date == day}.each do |meeting| %>
                <!-- places the booking in time into the right room and time slot -->
                  <% if meeting.date_in.strftime("%H.%M").to_f == i && meeting.room.name == room.name %>
                    <td id="done"><%= link_to meeting.description, meeting %></td>
                    <% booked = true %>
                    <% inbetween = true %>
                <% end %>
                  <% if i > meeting.date_in.strftime("%H.%M").to_f && i < meeting.date_out.strftime("%H.%M").to_f && meeting.room.name == room.name %>
                    <% booked = true %>
                    <td id="done"></td>
                  <% end %>
                <% end  %>
              <% end %>
            <% end %>
            <!-- Adds an empty cell if there is no booking, else turns booked value to false -->
            <% if booked == false %>
                <td></td>
              <% else %>
                <% booked = false %>
            <% end %>
          <% end %>
          <!-- increments the time by half an hour for the next iteration of the loop -->
          <% i += 0.7 %>
        <% end %>
        </tr>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>
</table>

<!-- Shows all bookings -->
<h1>Rooms</h1>
<% @rooms.each do |room| %>
   <td id="rooms"><%= room.name %></td>
<% end %>
<br>
<%= link_to 'Create a new room', new_room_path, :class => "btn btn-info", :role => "button" %>

<% @rooms.order(created_at: :ASC).each do |room| %>
  <p class="nameOfRoomInShow">
    <strong><%= room.name %></strong>
    <%= link_to 'Edit', edit_room_path(room) %>
    <td id="deleteRoom">
      <%= link_to 'Delete', room, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </p>

  <h3>Bookings</h3>

  <table>
     <thead>
       <tr>
         <th>Description</th>
         <th>Start Time</th>
         <th>End Time</th>
       </tr>
     </thead>

     <!-- loops through to show booking information for the room -->
     <tbody>
       <% room.bookings.order(date_in: :ASC).each do |booking|  %>
         <tr>
           <td><%= booking.description  %></td>
           <td><%= booking.date_in.to_time.strftime('%a %e %B %Y %H:%M')  %></td>
           <td><%= booking.date_out.to_time.strftime('%a %e %B %Y %H:%M')  %></td>
           <td><%= link_to 'Edit', edit_booking_path(booking) %> </td>
           <td id="deleteBooking">
             <%= link_to 'Delete Booking', booking, method: :delete, data: { confirm: 'Are you sure?' } %>
           </td>
         </tr>
         <% end %>
     </tbody>
  </table>
<% end %>

<br>

<footer>
  <!-- new booking form -->
  <%= render '/bookings/form', booking: @booking %>
</footer>
