<p id="notice"><%= notice %></p>

<h1>Rooms</h1>
<% @rooms.each do |room| %>
  <p class="nameOfRoomInShow">
    <strong><%= room.name %></strong>
    <%= link_to 'Edit', edit_room_path(room) %>
  </p>

  <h3>Bookings</h3>

  <table>
     <thead>
       <tr>
         <th>Description</th>
         <th>Start Time</th>
         <th>End Time</th>

       </tr>
     </thead>

     <!-- loops through to show booking information for the room -->
     <tbody>
       <% room.bookings.order(date_in: :ASC).each do |booking|  %>
         <tr>
           <td><%= booking.description  %></td>
           <td><%= booking.date_in  %></td>
           <td><%= booking.date_out  %></td>
         </tr>
         <% end %>
     </tbody>
  </table>
<% end %>

<!-- new booking form -->
<%= render '/bookings/form', booking: @booking %>

<br>

<%= link_to 'New Room', new_room_path, :class => "btn btn-info", :role => "button" %>
