<p id="notice"><%= notice %></p>
<% start_date = params.fetch(:start_date, Date.today).to_date%>
<% date_range = (start_date..(start_date)).to_a %>
<%= link_to "Previous day", start_date: date_range.first - 1.day %>
<%= link_to "Next Day", start_date:date_range.last + 1.day %>

<table>
  <thead>
    <tr>
      <% date_range.slice(0,7).each do |day| %>
      <th><%= I18n.t("date.abbr_day_names")[day.wday] %></th>
      <th><% date_range.each_slice(7) do |week|  %>
          <% week.each do |day| %>
            <%= day %>
          <% end %>
        <% end %>
      </th>
      <% end %>
    </tr>
  </thead>

  <tbody>
  <% date_range.each_slice(7) do |week| %>
    <tr>
      <% week.each do |day| %>
      <td>
      <% @bookings.select {|b| b.date_in.to_date == day}.each do |meeting| %>
        <div><%= link_to meeting.description, meeting %></div>
        <div><%= meeting.date_in.strftime("%H.%M") %></div>
        <div><%= meeting.date_out.strftime("%H.%M") %></div>
      <% end %>
    </td>
    <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<h1 id="roomsIndexHeader">Rooms</h1>

<table>
  <thead>
    <tr>
      <th>Time</th>
      <% @rooms.each do |room| %>
          <th class="Room name"><%= link_to room.name, room %></th>
      <% end %>
    </tr>
      <% i = 9.00%>
      <% 17.times do |row| %>
        <tr>
          <% if i.to_f % 1 ==0%>
            <td class="timeCell"><%= number_with_precision i, :precision => 2 %></td>
            <% @rooms.each do |room| %>
              <% date_range.each_slice(7) do |week| %>
                <% week.each do |day| %>
                  <% @bookings.select {|b| b.date_in.to_date == day}.each do |meeting| %>
                      <%if meeting.date_in.strftime("%H.%M").to_f == i && meeting.room.name == room.name%>
                        <td><%= link_to meeting.description, meeting %></td>
                      <% end %>
                      <% if meeting.date_out.strftime("%H.%M").to_f == i && meeting.room.name == room.name%>
                        <td><%= link_to meeting.description, meeting %></td>
                      <% end  %>
                  <% end  %>
                <% end %>
              <% end %>
                <td> <%= link_to ' ', new_booking_path, id: "form"%></td>
            <% end %>
            <% i += 0.30 %>
          <% else %>
          <td class="timeCell"> <%=  number_with_precision i, :precision => 2  %></td>
          <% @rooms.each do |room| %>
            <% date_range.each_slice(7) do |week| %>
              <% week.each do |day| %>
                <% week.each do |day| %>
                <% @bookings.select {|b| b.date_in.to_date == day}.each do |meeting| %>
                  <%if meeting.date_in.strftime("%H.%M").to_f == i && meeting.room.name == room.name%>
                    <td><%= link_to meeting.description, meeting %></td>
                <% end %>
                  <% if meeting.date_out.strftime("%H.%M").to_f == i && meeting.room.name == room.name%>
                  <td><%= link_to meeting.description, meeting %></td>
                  <% end  %>
                <% end  %>
              <% end %>
            <% end %>
            <td><%= link_to ' ', new_booking_path, id: "form"%></td>
            <% end %>
          <% end %>
          <% i += 0.7 %>
        <% end %>

        </tr>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>
</table>

<br>

<%= link_to 'New Room', new_room_path, :class => "btn btn-info", :role => "button" %>
<%= link_to 'New Booking', new_booking_path, :class => "btn btn-info", :role => "button", id: "form"%>
