<p id="notice"><%= notice %></p>


<div id = "time">
  <!-- Allows you to cycle through daily bookings -->
  <tr>
    <td class="change"><%= link_to "Previous day", start_date: @date_range.first - 1.day %></td>
    <td class="change"><%= link_to "Next Day", start_date:@date_range.last + 1.day %></td>
  </tr>
    <br>
  <tr>
    <td class="change"><%= link_to "Back 7 days", start_date: @date_range.first - 7.day %></td>
    <td class="change"><%= link_to "Forward 7 days", start_date: @date_range.first + 7.day %></td>
  </tr>


</div>


  <h1 id="roomsIndexHeader">Rooms</h1>

<% @week_range.each do |day| %>
  <!-- Creates the table and places bookings into the correct time and room -->
  <table id = "weekBookingTable">
    <thead>
      <th id="weekDay"><%= I18n.t("date.abbr_day_names")[day.wday] %></th>
      <tr>
        <th>Time</th>
        <!-- Creates the columns for each room -->
        <% @rooms.each do |room| %>
            <th class="<%= room.name %>"><%= link_to room.name, room %></th>
        <% end %>
      </tr>
        <% roomName = '' %>
        <% inbetween =  false %>
        <% booked = false %>
        <!-- if the time is on the hour -->
        <% i = 8.00 %>
        <% 41.times do |x| %>
          <tr>
              <!-- Places the times on the left most column -->
            <td class="timeCell"><%= number_with_precision i, :precision => 2 %></td>
              <% @rooms.each do |room| %>
              <!-- Goes into my @date_range array  -->
                  <!-- Selects bookings that have the same date as the date selected above the table -->
                    <% @bookings.select {|b| b.date_in.to_date == day}.each do |meeting| %>
                        <% if i > meeting.date_in.strftime("%H.%M").to_f && i < meeting.date_out.strftime("%H.%M").to_f && meeting.room.name == room.name %>
                          <% booked = true %>
                          <td id="done"><%= link_to meeting.description, meeting %></td>

                  <% end %>
                <% end %>
                <!-- Adds an empty cell if there is no booking -->
                <% if booked == false %>
                    <td></td>
                  <% else %>
                    <% booked = false %>
                  <% end %>
                <% end %>
              <% if i.modulo(1).round(2) == 0.45 %>
                <% i += 0.55 %>
              <% else %>
                <% i += 0.15 %>
              <% end %>
            </tr>
            <% end %>
        <th colspan="3"></th>
      </tr>
    </thead>
  </table>
<% end %>


<br>

<footer>
  <!-- new booking form -->
  <%= render '/bookings/form', booking: @booking %>
</footer>
